# Python
__pycache__/
*.py[cod]
*$py.class

# Node
node_modules/
dist/
build/

# Virtual environments
.venv/
venv/
ENV/
env/

# Logs
*.log

# Env files
.env
.env.*

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db

